html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

canvas {
  max-width: 100vw;
  max-height: 100vh;
}

.ui {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
}

.uiscreen {
  justify-content: center;
  text-align: center;
}

.logo {
  width: 100%;
}